<template name="etapes">
    <tr>
        <td class="w3-quarter">
            {{nom}}
        </td>
        <td class="w3-quarter">
            {{type}}
        </td>
        <td class="w3-quarter">
            {{position}}
        </td>
        <td class="w3-quarter">
            <a href="{{pathFor 'modifEtape' id=_id}}"
               class="w3-btn w3-text-yellow w3-pale-yellow w3-hover-text-white w3-hover-yellow js-seeEtapes">
                <i class="fa fa-pencil"></i>
            </a>
            <button class="w3-btn w3-text-red w3-pale-red w3-hover-text-white w3-hover-red js-deleteEtape" id="{{_id}}">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</template>

<template name="modifEtape">
    <div class="w3-card-4">
        <header class="w3-container w3-teal w3-padding-8">
            <input class="w3-input w3-half w3-teal w3-hover-white w3-border-0" name="nom" value="{{etape.nom}}">
        </header>

        <div class="w3-container">
            <label class="w3-text-teal">Type :</label>
            <input class="w3-input w3-disabled" value="{{etape.type}}" disabled>

            {{#if etape.question}}
                <label class="w3-text-teal">Question</label>
                <input class="w3-input" name="question" value="{{etape.question}}">
                <label class="w3-text-teal">Réponse</label>
                <input class="w3-input" name="reponse" value="{{etape.reponse}}">
            {{/if}}

            <label class="w3-text-teal">Position dans le parcours</label>
            <input class="w3-input" type="number" name="position" value="{{etape.position}}">
            <label class="w3-text-teal">Latitude</label>
            <input class="w3-input" type="text" name="lat" value="{{etape.lat}}">
            <label class="w3-text-teal">Longitude</label>
            <div class="" style="position: absolute;right: 0px;">
                <input class="w3-input w3-col s11" type="text" name="lng" value="{{etape.lng}}">
                <i class='fa fa-map-marker fa-lg w3-col s1'></i>
            </div>
        </div>
        <div class="w3-container w3-padding w3-right-align w3-padding-top-16">
            <a href="#" class="w3-btn w3-gray" onclick="history.go(-1)">Annuler</a>
            <button class="w3-btn w3-teal js-saveEtape" id="{{etape._id}}">Sauvegarder</button>
        </div>
    </div>
</template>

<template name="addEtape">
    <div class="w3-card-4">
        <header class="w3-container w3-teal w3-padding-8">
            <input class="w3-input w3-half w3-white w3-border-0" name="nom" value="">
        </header>

        <div class="w3-container">
            <label class="w3-text-teal">Type :</label>
            <input class="w3-input w3-disabled js-type" name="type" value="" disabled>

            {{#if isQuestion}}
                <label class="w3-text-teal">Question</label>
                <input class="w3-input" name="question" value="">
                <label class="w3-text-teal">Réponse</label>
                <input class="w3-input" name="reponse" value="">
            {{/if}}

            <label class="w3-text-teal">Position dans le parcours</label>
            <input class="w3-input" type="number" name="position" value="">
            <label class="w3-text-teal">Latitude</label>
            <input class="w3-input" name="lat" value="">
            <label class="w3-text-teal">Longitude</label>
            <input class="w3-input" name="lng" value="">

            <div class="w3-padding w3-right">
                <a href="#" class="w3-btn w3-gray" onclick="history.go(-1)">Annuler</a>
                <button class="w3-btn w3-teal js-save" id="">Sauvegarder</button>
            </div>
        </div>
    </div>
</template>