<template name="parcours">
    <tr>
        <td class="w3-third">
            <label id="{{_id}}">
                {{nom}}
            </label>
        </td>
        <td class="w3-rest">
            <a href="{{pathFor 'gestEtape' id=_id}}" class="w3-btn w3-text-green w3-pale-green w3-hover-text-white w3-hover-green js-seeEtapes">
                <i class="fa fa-binoculars"></i>
            </a>
            <button class="w3-btn w3-text-red w3-pale-red w3-hover-text-white w3-hover-red js-deleteParcours" id="{{_id}}">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
</template>