<template name="oneEquipe">
    <tr>
        <td class="w3-quarter">{{nom}}</td>
        <td class="w3-half">
            <div class="w3-half">
                {{#each team}}
                    {{getUsername}}&nbsp;
                {{else}}
                    &nbsp;
                {{/each}}
            </div>
            <div class="w3-half">
                <select class="w3-select w3-small js-addUser">
                    {{#each listUser}}
                        <option value="{{_id}}">{{username}}</option>
                    {{else}}
                        &nbsp;
                    {{/each}}
                </select>
            </div>
        </td>
        <td class="w3-quarter">
            <button class="w3-btn w3-text-red w3-pale-red js-deleteEquipe" id="{{_id}}">
                <i class="fa fa-minus"></i>
            </button>
        </td>
    </tr>
</template>
