<template name="login">
    <form class="w3-bar-item w3-row-padding w3-small">
    	<div class="w3-third">
        	<input type="email" class="w3-input w3-border-bottom w3-border-teal" name="loginEmail" placeholder="E-Mail" required>
    	</div>
    	<div class="w3-third">
        	<input type="password" class="w3-input w3-border-bottom w3-border-teal" name="loginPassword" placeholder="Mot de passe" required>
    	</div>
    	<div class="w3-third">
        	<input type="submit" class="w3-btn w3-teal w3-right" value="Connexion">
    	</div>
    </form>
</template>