<template name="login">
    <div class="w3-row w3-display-topmiddle w3-col s12 m9 l6">
        <form class="w3-small">
            <input type="email" class="w3-input w3-border-bottom w3-border-teal"
                   name="loginEmail" placeholder="E-Mail" required>
            <input type="password" class="w3-input w3-border-bottom w3-border-teal"
                   name="loginPassword" placeholder="Mot de passe" required>

            <div class="w3-right">
                <input type="submit" class="w3-btn w3-teal" value="Connexion">
            </div>
        </form>
    </div>
</template>