<template name="profileEdit">
    <form class="w3-row-padding w3-small">
        <div class="w3-col s4 w3-card-2" style="max-width: 206px;">
            <img src="http://icon-icons.com/icons2/217/PNG/512/user-blue_25325.png"
                 class="" alt="img_utilisateur" style="width:100%; max-width: 206px;"/>
        </div>
        <div class="w3-col m8 w3-col">
            <div class="">
                <label class="w3-label">Nom d'utilisateur</label>
                <input name="username" type="text" value="{{profileUser.username}}" placeholder="Nom d'utilisateur"
                       class="w3-input w3-border-bottom w3-border-teal"/>
                <label class="w3-label">E-Mail</label>
                <input name="email" type="email" value="{{profileUser.email}}" placeholder="Adresse mail"
                       class="w3-input w3-border-bottom w3-border-teal" required/>
                <label class="w3-label">Color</label>
                <input name="color" type="text" value="{{profileUser.color}}" placeholder="Couleur"
                       class="w3-input w3-border-bottom w3-border-teal"/>
                <label class="w3-label">Mot de passe</label>
                <input name="password" type="password" value="" placeholder="Mot de passe"
                       class="w3-input w3-border-bottom w3-border-teal"/>

                <div class="w3-right w3-text-teal">
                    <input type="submit" class="w3-btn w3-teal" value="Enregistrer">
                </div>
            </div>
        </div>
    </form>
</template>