<template name="header">
	<div class="w3-top">
		<div class="w3-bar w3-white w3-card-4">
			<a class="w3-bar-item w3-button w3-mobile w3-hover-teal" href="{{pathFor 'index'}}">Nice treasure Hunt</a>

			<div class="w3-hide-small">
			{{#if currentUser}}
				<a class="w3-bar-item w3-button w3-mobile w3-hover-teal" href="{{pathFor 'map'}}">Map</a>
				<a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Etc...</a>
				{{> logout}}
			{{else}}
				{{> login}}
			{{/if}}
			</div>
		</div>
	</div>
</template>