<template name="headerNormal">
    <div class="w3-hide-small">
        {{#if currentUser}}
            <!-- Right align -->
            <a href="#"
               class="w3-bar-item w3-button w3-amber w3-border w3-border-amber w3-right w3-hover-white"
               id="logout" onclick="w3_close()">Logout</a>

            {{#if isRole "admin"}}
                <!-- Normal link -->
                <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-text-teal w3-hover-text-white"
                   href="{{pathFor 'organisateur'}}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    Gestion Organisateurs
                </a>
                <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-text-teal w3-hover-text-white"
                   href="{{pathFor 'adminMessage'}}">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    Chat Room
                </a>
            {{else}}
                <!-- Right align -->
                <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-right w3-text-teal w3-hover-text-white"
                   href="{{pathFor 'profileEdit'}}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Profile
                </a>
                {{#if isRole "gest"}}
                    <!-- Normal link -->
                    <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-text-teal w3-hover-text-white"
                       href="{{pathFor 'gestChasse'}}">
                        <i class="fa fa-map-signs" aria-hidden="true"></i>
                        Gestion Chasses
                    </a>
                    <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-text-teal w3-hover-text-white"
                       href="{{pathFor 'equipe'}}">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        Gestion Équipes
                    </a>
                    <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-text-teal w3-hover-text-white"
                       href="{{pathFor 'adminMessage'}}">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        Chat Room
                    </a>
                {{else}}
                  {{#if isInEquipe}}
                    <!-- Normal link -->
                    <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-text-teal w3-hover-text-white"
                       href="{{pathFor 'map'}}">
                        <i class="fa fa-map" aria-hidden="true"></i>
                        Map
                    </a>
                    <a class="w3-bar-item w3-button w3-mobile w3-hover-teal w3-text-teal w3-hover-text-white"
                       href="{{pathFor 'userMessage'}}">
                        {{#if newMessage }} <span class="w3-badge w3-red w3-left">!</span> 
                        {{else}} <i class="fa fa-comments" aria-hidden="true"></i>
                        {{/if}}
                        Need Help
                        
                    </a>
                  {{/if}}
                {{/if}}
            {{/if}}
        {{else}}
            <a class="w3-bar-item w3-button w3-amber w3-border w3-border-amber w3-right w3-hover-white"
               href="{{pathFor 'signup'}}">
                Sign Up
            </a>
            <a class="w3-bar-item w3-button w3-teal w3-border w3-border-teal w3-right w3-hover-white"
               href="{{pathFor 'login'}}">
                Login
            </a>
        {{/if}}
    </div>
</template>